
URxvt.urlLauncher: chromium
URxvt.matcher.button: 1
URxvt.perl-ext-common: default, matcher, readline, clipboard

URxvt.font: xft:Anonymous Pro:pixelsize=29
URxvt.scrollstyle: xterm
URxvt*depth: 32
! special
 *.foreground:   #B6FF00
!#ecd870
 *.background:  [91]#070218
 *.cursorColor:  [93]#ecd870
!
! ! black
 *.color0:       #070218
 *.color8:       #726c84
!
! ! red
 *.color1:       #fd6b35
 *.color9:       #fd6b35

! ! green
 *.color2:       #ef4949
 *.color10:      #ef4949
!
! ! yellow
 *.color3:       #e54082
 *.color11:      #e54082
!
! ! blue
 *.color4:       #c04cea
 *.color12:      #c04cea
!
! ! magenta
 *.color5:       #7657f2
 *.color13:      #7657f2
!
! ! cyan
 *.color6:       #8df5ed
 *.color14:      #8df5ed
!
! ! white
 *.color7:       #93a1a1
 *.color15:      #fdf6e3
